# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Captured network traffic
captures/*.pcap
captures/*.pcapng

# Security logs
logs/*.json
logs/*.log

# OS files
.DS_Store
Thumbs.db
